:root {
  --black: #13161a;
  --grey: #4a535f;
  --white: #fff;
  --blue: #4284f4;
  --primary: #2FB578;
  --light: #a8ffd8;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: var(--white);
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16pt;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 750pt;
  max-width: 563pt;
  flex-shrink: 0;
  background: var(--black);
  color: var(--white);
  padding: 32pt 16pt;
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  width: 64pt;
  margin-right: 8pt;
}

header h1 {
  font-size: 20pt;
  font-weight: 800;
  color: var(--white);
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

header h2, header h3 {
  font-size: 11pt;
  font-weight: 300;
  color: var(--primary);
  line-height: 1.2;
}

header aside {
  margin-left: auto
}

header a {
  font-size: 10pt;
  color: var(--blue);
  display: block;
  text-align: right;
  padding: 2pt 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main section {
  width: 50%;
  padding: 8pt;
}

main section h4 {
  font-size: 12pt;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 900;
  line-height: 1;
  padding: 16pt 0 4pt 0;
  font-family: 'Roboto Slab', serif;
}

main section div {
  padding: 8pt 0 4pt 0;
}

main section div h5 {
  font-size: 14pt;
  font-weight: 700;
  color: var(--light);
  line-height: 1;
}

main section div aside {
  font-size: 10pt;
  font-weight: 300;
  color: var(--primary);
  line-height: 1;
  padding: 4pt 0;
  font-family: 'Roboto Slab', serif;
}

main section div h6 {
  font-size: 12pt;
  font-weight: 600;
  /* margin-bottom: 4pt; */
}

main section div strong {
  font-size: 10pt;
  font-weight: 500;
  color: var(--primary);
}

main section div p {
  font-size: 10pt;
  font-weight: 300;
  margin: 2pt 0;
}

main section div span {
  display: block;
  padding-left: 4pt;
  font-size: 10pt;
  font-weight: 300;
}

main section div div {
  font-size: 10pt;
  color: var(--primary);
  font-weight: 400;
}

main section div div a {
  font-size: 10pt;
  color: var(--blue);
  font-weight: 400;
  margin-left: 4pt;
}

main section div section {
  width: 48%;
  display: inline-block;
  padding: 0;
  padding-right: 8pt;
  vertical-align: top;
}

main section div section h6 {
  color: var(--primary);
  padding-bottom: 4pt;
}

main section div section div {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}

main section div section div div{
  margin-left: auto;
  width: 50pt;
  flex-shrink: 0;
}

main section div section div div span {
  width: 8pt;
  height: 8pt;
  margin: 0 1pt;
  flex-shrink: 0;
  padding: 0;
  display: inline-block;
  background: var(--light);
}

main section div section div div span:nth-child(1) {
  opacity: 0.2;
}

main section div section div div span:nth-child(2) {
  opacity: 0.4;
}

main section div section div div span:nth-child(3) {
  opacity: 0.6;
}

main section div section div div span:nth-child(4) {
  opacity: 0.8;
}

main section div section div div span:nth-child(5) {
  opacity: 1;
}

footer {
  font-size: 10pt;
  position: absolute;
  bottom: 16pt;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--grey);
}

footer a {
  color: var(--blue);
}